@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

* {
  font-family: "Poppins", sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-family: "Forum", serif;
}

:root {
  --primary-color: #FF7B00;
  --primary-lite-color: #FBF7B9;
  --secondary-color: #6F3F45;
  --white-color: #ffffff;
}

.primary-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: var(--white-color);
  transition: all 0.3s ease;
}

.App {
  background: linear-gradient(-45deg,var(--primary-lite-color) ,   var(--primary-lite-color),var(--white-color),var(--white-color));
  min-height: 100vh;
  background-size: 400% 400%; /* Adjust this size as per your preference */
  animation: gradientAnimation 15s ease infinite;
  overflow-x: hidden;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.logo-text{
  font-family: "Forum", serif;
  font-size: 24px;
}

.services-container {
  display: flex;
  justify-content: center;
}

.service-card {
  padding: 20px;
  border-radius: 20px;
  background-color: var(--primary-lite-color);
  color: var(--secondary-color);
  min-height: 280px;
  transition: all 0.3s ease;
}

.service-heading {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  color: var(--primary-color);
}

.home-heading {
  font-size: 42px;
  font-weight: bold;
  color: var(--primary-color);
}

.home-subheading {
  font-size: 28px;
  font-weight: bold;
  color: var(--primary-color);
}

.home-slogan {
  color: var(--secondary-color);
  font-size: 32px;
  font-weight: bold;
}

.home-description {
  color: var(--secondary-color);
  font-size: 16px;
}

.home-quote {
  background: var(--white-color);
  padding: 20px;
  border-radius: 20px;
}

.home-industry-card {
  background: var(--white-color);
  padding: 20px;
  border-radius: 20px;
  min-height: 425px;
  transition: all 0.3s ease;
}

.home-solutions-card {
  background: var(--primary-lite-color);
  padding: 20px;
  border-radius: 20px;
  min-height: 325px;
  transition: all 0.3s ease;
}

.home-industry {
  background: var(--primary-lite-color);
  padding: 20px;
  border-radius: 20px;
}

.home-solutions {
  background: var(--white-color);
  padding: 20px;
  border-radius: 20px;
}

.service-card:hover,
.home-industry-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, var(--white-color), var(--primary-lite-color));
  color: var(--primary-color);
}

.service-title {
  font-size: 28px;
}

.service-description {
  font-size: 16px;
  color: var(--secondary-color);

}



.aboutus-container,.home-country-card {
  text-align: center;
  background-color: var(--white-color);
  padding: 20px;
  border-radius: 20px;
  color: var(--secondary-color);
  min-height: 495px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}

.home-country-card{
  min-height: 525px;
}


.aboutus-container:hover,.home-country-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.aboutus-title {
  font-size: 24px;
}

.aboutus-button {
  border: none;
  background: none;
  text-decoration: underline;
  font-weight: bold;
  color: var(--primary-color);
}

.aboutus-calltoaction {
  text-align: center;
  font-weight: bold;
  color: var(--secondary-color);
}


.contactus-subtitle {
  font-size: 36px;
  font-weight: bold;
  color: var(--primary-color);
}

.contactus-description {
  font-size: 17px;
  color: var(--secondary-color)
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--primary-color);
  color: var(--white-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
  transition: all 0.3s ease;
}

.scroll-to-top:hover,
.primary-btn:hover {
  background-color: rgba(0, 0, 0, 0.1); 
  color: var(--secondary-color);
}

.footer-heading {
  font-size: 24px;
  color: var(--primary-color);
  font-weight: bold;
}

.footer-list {
  font-size: 14px;
  color: var(--secondary-color);
  text-decoration: none;
}

.footer-copyright {
  font-size: 12px;
  color: var(--secondary-color);
}

.home-solutions-image {
  border-radius: 20px;
}

.image-shadow{
  filter: drop-shadow(6px 6px 15px var(--primary-color));
}




.slider {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.slider .list .item {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}

.slider .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .list .item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
  pointer-events: none;
   /* Ensure the overlay does not interfere with image interaction */
}

.slider .list .item .content {
  position: absolute;
  top: 15%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: #ffff;
  
  text-shadow: 0 5px 10px #0004;
}

.slider .list .item .content .title,
.slider .list .item .content .type {
  font-size: 3em;
  font-weight: bold;
  line-height: 1.3em;
  opacity: 0;

}

.slider .list .item .content .type {
  color: var(--primary-color);
  opacity: 0;

}

.slider .list .item .content .description {
  font-size: 16px;
  font-weight: 400;
  opacity: 0;
}

.slider .list .item .content .buttons{
  opacity: 0;
}

.thumbnail {
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: max-content;
  z-index: 100;
}

.thumbnail .item {
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}

.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
}

.nextPrevArrows {
  position: absolute;
  top: 80%;
  right: 52%;
  z-index: 100;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.nextPrevArrows button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  border: none;
  color: #ffff;
  font-family: monospace;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

.nextPrevArrows button:hover {
  background-color: var(--white-color);
  color: var(--primary-color);
}

.slider .list .item:nth-child(1) {
  z-index: 1;
}

.slider .list .item:nth-child(1) .content .title,
.slider .list .item:nth-child(1) .content .type,
.slider .list .item:nth-child(1) .content .description,
.slider .list .item:nth-child(1) .content .buttons {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent .5s 1s linear 1 forwards;
  
}

@keyframes showContent {
  to {
    transform: translateY(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.slider .list .item:nth-child(1) .content .title {
  animation-delay: 0.4s !important;
  z-index: 100;
}

.slider .list .item:nth-child(1) .content .type {
  animation-delay: 0.6s !important;
  z-index: 100;
}

.slider .list .item:nth-child(1) .content .description {
  animation-delay: 0.8s !important;
  z-index: 100;

}

.slider .list .item:nth-child(1) .content .buttons {
  animation-delay: 1s !important;
  z-index: 100;

}

.slider.next .list .item:nth-child(1) img {
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 30px;
  animation: showImage .5s linear 1 forwards;
}

@keyframes showImage {
  to {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.slider.next .thumbnail .item:nth-last-child(1) {
  overflow: hidden;
  animation: showThumbnail .5s linear 1 forwards;
}

.slider.prev .list .item img {
  z-index: 100;
}


@keyframes showThumbnail {
  from {
    width: 0;
    opacity: 0;
  }
}

.slider.next .thumbnail {
  animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext {
  from {
    transform: translateX(150px);
  }
}

.slider.prev .list .item:nth-child(2) {
  z-index: 2;
}

.slider.prev .list .item:nth-child(2) img {
  animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}

@keyframes outFrame {
  to {
    width: 150px;
    height: 220px;
    bottom: 30px;
    left: 50%;
    border-radius: 20px;
  }
}

.slider.prev .thumbnail .item:nth-child(1) {
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail .5s linear 1 forwards;
}



.slider.prev .list .item:nth-child(2) .content .type,
.slider.prev .list .item:nth-child(2) .content .description,
.slider.prev .list .item:nth-child(2) .content .title,
.slider.prev .list .item:nth-child(2) .content .buttons {
  animation: contentOut 0.5s 1s linear 1 forwards !important;
}

@keyframes contentOut {
  to {
    transform: translateY(-150px);
    filter: blur(20px);
    opacity: 0;
  }
}

@media screen and (max-width:678px) {
  .slider .list .item .content {
    padding-right: 0;
  }

  .slider .list .item .content .title {
    font-size: 30px;
  }

  .slider .list .item .content .type {
    font-size: 30px;
  }

  .button-primary {
    padding: 5px 20px;
  }
}


.products-images{
  border-radius: 20px;
  padding: 10px;
}

.vertical-line {
  padding: 0.8px;
  background-color: var(--primary-color); /* Adjust color as needed */
  margin: 0 15px; /* Adjust spacing as needed */
}

/* .animated-slide-left, .animated-slide-right {
  opacity: 0;
  transform: translateX(0);
  transition: opacity 1s, transform 1s;
}

.animate.animated-slide-left {
  transform: translateX(110%);
  opacity: 1;
}

.animate.animated-slide-right {
  transform: translateX(-110%);
  opacity: 1;
} */